[submodule "deps/GLFW"]
	path = deps/GLFW
	url = https://github.com/glfw/glfw
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/Glad"]
	path = deps/Glad
	url = https://github.com/rtryan98/glad
